<div class="day">{{day}}</div>
<div class="day-name">{{dayName}}</div>

<div class="event-bars" [title]="tooltipText" [satPopoverAnchorFor]="popover" (click)="popover.toggle()">
  <div
    class="event-bar"
    *ngFor="let event of visibleEvents"
    [ngStyle]="{ 'background-color': event.color }"
  ></div>
</div>

<sat-popover #popover hasBackdrop verticalAlign="above">
  <div class="events-popover">
    <div class="event-detail" *ngFor="let event of visibleEvents">
      <span class="event-color" [ngStyle]="{ 'background-color': event.color }"></span>
      {{ event.name }}
    </div>
  </div>
</sat-popover>
