<mat-toolbar class="mat-elevation-z6" color="primary">
  <span class="margin-right-double">agm-calendar</span>
  <span class="flex-spacer"></span>
  <mat-icon class="clickable" (click)="sidebarVisible = !sidebarVisible">settings</mat-icon>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav position="end" mode="side" [(opened)]="sidebarVisible">
    <calendar-settings></calendar-settings>
  </mat-sidenav>
  <section>
    <year [year]="settingsService.year" [futureOnly]="settingsService.futureOnly"></year>
  </section>
</mat-sidenav-container>

<!-- <p>user: {{user | json}}</p> -->
<button *ngIf="user" (click)="signOut()">sign out</button>
<button *ngIf='!user' (click)="signIn()">sign in</button>
